@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,200,100&subset=latin,cyrillic);
@import "../../bower_components/bootstrap/less/bootstrap";
@import "variables";

body {
  color: #ffffff;
  background-image: url(/img/bg.jpg);
  background-size: cover;
}

label {
  font-weight: 200;
}

.btn-group {
  display: block;
}

.page {
  .make-row();

  .signin-box {
    .make-md-column-offset(6);
    padding: 20px;
  }
}