@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,200,100&subset=latin,cyrillic);
@import "../../bower_components/bootstrap/less/bootstrap";
@import "variables";

body {
  color: #ffffff;
  background-image: url(/img/bg.jpg);
  background-size: cover;
}

label, input {
  font-weight: 200 !important;
}

.signin-box {
  background-color: rgba(19, 82, 144, 0.6);
  padding: 20px;
  .make-md-column-offset(6);

  input[type=submit] {
    width: 100%;
  }
}