<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jorge Herrera">
    <meta name="description" content="4th Source Staffing Request">

    <title>4th Source Staffing Request</title>

    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="background">
    <div class="container">
        <header>
            <h1>Staffing Request</h1>
        </header>
        <form method="post">
            <h2>Sign In</h2>
            <label for="email">Email address</label>
            <input id="email" name="email" type="email" placeholder="bart.simpson@4thsource.com" required>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="secret" required>
            <input type="submit" value="Sign up">
        </form>
    </div>
</div>
<script data-main="js/main.js" src="js/lib.js"></script>
</body>
</html>