<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jorge Herrera">
    <meta name="description" content="4th Source Staffing Request">

    <title>4th Source Staffing Request</title>

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">

    <div class="header">
        {{#user}}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
            <div class="btn-group" role="group" aria-label="Staffing Request Options">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download</button>
            </div>
            <div class="btn-group" role="group" aria-label="User Options">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign Out</button>
            </div>
        </div>
        {{/user}}
        <h1>{{title}}</h1>
    </div>

    <div class="page">
        {{> page}}
    </div>
</div>
{{{js}}}
</body>
</html>